:root {
  --bg-color: #111827;
  --text-color: #f3f4f6;

  --primary-color: #818cf8;
  --primary-hover: #6366f1;
  --primary-active: #4f46e5;
  --primary-text: #f3f4f6;

  --secondary-color: #c084fc;
  --secondary-hover: #a855f7;
  --secondary-active: #9333ea;
  --secondary-text: #f3f4f6;

  --gray-color: #374151;
  --gray-hover: #1f2937;
  --gray-active: #111827;
  --gray-text: #e5e7eb;

  --border-radius: 4px;
  --transition-speed: 0.2s;
}
