:root {
  --bg-color: #111827;
  --text-color: #f3f4f6;

  --primary-color: #57b42e;
  --primary-hover: #418f21;
  --primary-active: #336e1d;
  --primary-text: #f3f4f6;

  --secondary-color: #1f90ff;
  --secondary-hover: #086fff;
  --secondary-active: #0157f4;
  --secondary-text: #f3f4f6;

  --gray-color: #374151;
  --gray-hover: #1f2937;
  --gray-active: #111827;
  --gray-text: #e5e7eb;

  --border-radius: 4px;
  --transition-speed: 0.2s;
}
